# API key (just template)
SECRET_API_KEY=replace-me

#Debug mode (never true in production)
DEBUG=true

#Model Pfad
MODEL_REPO=https://github.com/schutera/pixelwise-model.git

#Model Version
MODEL_VERSION=v1.0
